<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thealphalab.education.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="org.thealphalab.education.model.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="rolenameZh" jdbcType="VARCHAR" property="rolenamezh" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where roleid = #{roleid,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKey" parameterType="org.thealphalab.education.model.Role">
    update role
    set rolename = #{rolename,jdbcType=VARCHAR},
      rolenameZh = #{rolenamezh,jdbcType=VARCHAR}
    where roleId = #{roleid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select roleid, rolename, rolenameZh
    from role
    where roleid = #{roleid,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="org.thealphalab.education.model.Role">
    insert into role (roleId, roleName, permission, 
      roleNameZh)
    values (#{roleid,jdbcType=INTEGER}, #{rolerolename,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR}, 
      #{rolerolenamezh,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select roleId, roleName, permission, roleNameZh
    from role
  </select>
</mapper>