<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.thealphalab.education.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="org.thealphalab.education.model.Student" >
    <id column="stuid" property="stuid" jdbcType="INTEGER" />
    <result column="stuname" property="stuname" jdbcType="VARCHAR" />
    <result column="stusex" property="stusex" jdbcType="BIT" />
    <result column="birth" property="birth" jdbcType="DATE" javaType="java.util.Date" />
    <result column="stuschool" property="school.id"/>
    <result column="stuclass" property="class_.classname"/>
    <result column="stuss" property="stuss" jdbcType="VARCHAR" />
    <result column="stujg" property="stujg" jdbcType="VARCHAR" />
    <result column="stuzzmm" property="stuzzmm" jdbcType="VARCHAR" />
    <result column="studelsign" property="studelsign" jdbcType="BIT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where stuid = #{stuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.thealphalab.education.model.Student" >
    insert into student (stuid, stuname, stusex, 
      birth, stuschool, stuclass, 
      stuss, stujg, stuzzmm, 
      studelsign)
    values (#{stuid,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{stusex,jdbcType=BIT}, 
      #{birth,jdbcType=DATE}, #{school.id,jdbcType=INTEGER}, #{class_.classname,jdbcType=VARCHAR}, 
      #{stuss,jdbcType=VARCHAR}, #{stujg,jdbcType=VARCHAR}, #{stuzzmm,jdbcType=VARCHAR}, 
      #{studelsign,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.thealphalab.education.model.Student" >
    update student
    set stuname = #{stuname,jdbcType=VARCHAR},
      stusex = #{stusex,jdbcType=BIT},
      birth = #{birth,jdbcType=DATE},
      stuschool = #{school.id,jdbcType=INTEGER},
      stuclass = #{class_.classname,jdbcType=VARCHAR},
      stuss = #{stuss,jdbcType=VARCHAR},
      stujg = #{stujg,jdbcType=VARCHAR},
      stuzzmm = #{stuzzmm,jdbcType=VARCHAR},
      studelsign = #{studelsign,jdbcType=BIT}
    where stuid = #{stuid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select stuid, stuname, stusex, birth, stuschool, stuclass, stuss, stujg, stuzzmm, 
    studelsign
    from student
    where stuid = #{stuid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select stuid, stuname, stusex, birth, stuschool, stuclass, stuss, stujg, stuzzmm,
    studelsign
    from student
  </select>
</mapper>