<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.thealphalab.education.mapper.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="org.thealphalab.education.model.UserRole" >
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="roleId" property="roleid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="org.thealphalab.education.model.UserRole" >
    insert into user_role (username, roleId)
    values (#{user.username,jdbcType=VARCHAR}, #{role.roleid,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select username, roleId
    from user_role
  </select>
  <select id="selectRoleByUsername" resultType="org.thealphalab.education.model.Role">
    select role.*
    from role, user_role
    where user_role.username = #{username}
    and role.roleId = user_role.roleId
  </select>
</mapper>